/* #header input{
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
} */
html{
  background-image: linear-gradient(140deg, #EADEDB 0%, #9dd1f3 50%, #63addf 75%);
  background-repeat: no-repeat;
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

#input {
  width: 300px;
  height: 23px;
  border-radius: 5px;
}
#header {
  display:flex;
  justify-content:center;
  align-items: center;
}

.title{
  display:flex;
  justify-content:center;
  align-items: center;
  padding-top: 3%;
  margin-bottom: 10px;
  color: #0a1f3d;
  font-size: 2.5em;
  
}
.openModal{
  background-color: rgb(167, 198, 224);
  width: fit-content;
  padding: 10px;
  border: 1px solid rgb(89, 109, 197);
  border-radius: 5px;
}
.modalButton{
  color: rgb(255, 255, 255);
  position: absolute;
  top: 110px;
  left: 10px;
  height: 29px;
  border: 2px solid rgb(72, 77, 104);
  border-radius: 5px;
  background-color: rgb(81, 172, 224);
}

.modalSubmit {
  color: rgb(255, 255, 255);
  height: 29px;
  border: 2px solid rgb(72, 77, 104);
  border-radius: 5px;
  background-color: rgb(81, 172, 224);
}

.inputFields {
  line-height: 1px;
}

.recipeInputs {
 padding: 30px;
 width: 300px;
 border-radius: 5px;
}

input[type=text]:focus {
  background-color: rgb(192, 222, 231);
}

.recipeContainer {
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  flex-wrap: wrap;
  
}

.recipe {
  text-align: center;
  margin: 15px;
}

.searchButton {
  margin-left: 5px;
  color: rgb(255, 255, 255);
  height: 29px;
  border: 2px solid rgb(72, 77, 104);
  border-radius: 5px;
  background-color: rgb(81, 172, 224);
}
.recipeName {
  margin-top: 10px;
  font-size: 2rem;
}
.recipeImg {
  max-width: 500px;
  max-height: 500px;
  margin-top: 10px;
  box-shadow: 3px 3px 8px #888888;
  margin-bottom: 20px;
}

.instructions {
  float:left;
  max-width: 300px;
  line-height: 1.5;
  padding: 10px;
  border-left: 1px solid black;
}
.ingredients{
  float:right;
  max-width: 300px;
  line-height: 1.5;
  padding: 10px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}